<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booklist</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
        <h1>Books</h1>
        <table class="table table-striped" >
		<tr>
			<th>Author</th>
			<th>Title</th>
            <th>ISBN</th>
            <th>Year</th>
		</tr>
		<!-- TABLE ROWS FOR Books -->
		<tr th:each="book : ${books}">
			<td th:text="${book.author}">author</td>
			<td th:text="${book.title}">title</td>
            <td th:text="${book.isbn}">isbn</td>
            <td th:text="${book.publicationYear}">year</td>
           <td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
           <td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
		</tr> 
	</table>
        <p><a class="btn btn-success" th:href="@{/addbook}">Add new book</a></p>
</body>
</html>